__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
logs/*
!.gitkeep
# terraform/terraform.tfvars
# terraform/environments/dev/terraform.tfvars
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/.terraform